.Home_Books_ListItem {
  position: relative;
  margin: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  text-align: left;
  list-style: none;
  box-shadow: 1px 1px 1px 0 #ddd;
  background-color: white;
}
.Home_Books_ListItem:last-child {
  margin-bottom: 20px;
}
.Home_Books_ListItem::after {
  content: '';
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.Home_Books_ListItem:hover {
  opacity: .95;
}
.Home_Books_ListItem:active {
  opacity: .9;
}
.Home_Books_ListItem-cover {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 3px;
}
.Home_Books_ListItem-title {
  font-size: 1.25em;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: #666;
}