.Home_Books_Summary {
  padding: 50px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-align: justify;
  line-height: 150%;
}
.Home_Books_Summary h1 {
  margin-bottom: 20px;
}
.Home_Books_Summary p {
  margin-bottom: 10px;
}