.Apresentation {
  padding: 45px 0 calc(45px + 50px) 0; /* + 50px do height no ::after */
  position: relative;
  background-color: #563121;
  background-size: cover;
}
.Apresentation::after {
  content: '';
  position: absolute;
  bottom: -1%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50px;
  background-size: 100% 100%;
  background-image: url(../../../images/effects/wave.png);
}
@media (min-width: 550px) {
  /**
   * .Apresentation é a única exceção que  recebe 70px no lugar de 100px.
   */
  .Apresentation {
    padding: 70px 0 calc(70px + 100px) 0; /* + 100px do height do ::after */
    background-position: 100%;
  }
  .Apresentation::after {
    height: 100px !important;
  }
}