/********************
 * Inputs da página *
 ********************/ 

.input {
  padding: 8px 15px;
  border-radius: 3px;
  font-size: 1em;
}
.input.isFullWidth {
  width: 100%;
  padding: inherit 0;
}
@media (min-width: 550px) {
  .input {
    padding: 10px 20px;
    font-size: 1.15em;
  }
}

/* Text
 *******/

.input.txt {
  border: solid 1px #ddd;
  border-radius: 3px;
  box-shadow: inset 1px 1px 2px 0 #ddd;
}

/* Button
 *********/

.input.btn {
  border: solid 2px #d85127;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(to top, #ec4d1b, #ff5722);
}
.input.btn:hover {
  opacity: 0.95;
}
.input.btn:active {
  background-image: linear-gradient(to bottom, #ec4d1b, #ff5722);
  opacity: 0.9;
}