.Apresentation {
  position: relative;
  padding: 75px 0 150px 0;
  margin-bottom: 100px;
  background-image: url(../../../images/Home_Apresentation-bg.jpg);
  background-size: cover;
  background-position: 100%;
}
.Apresentation::after {
  content: '';
  position: absolute;
  bottom: -1%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  background-size: 100% 100%;
  background-image: url(../../../images/Home_Apresentation-effect.png);
}