.Home_Bio {
  padding: 100px 0;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  text-align: center;
  background-image: linear-gradient(to bottom, #47484e, #30323c);
  color: white;
}
.Home_Bio-header {
  text-align: center;;
}
.Home_Bio-title {
  font-size: 3em;
  margin-bottom: 30px;
  font-style: italic;
}
.Home_Bio-author {
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 30px;
  box-shadow: 8px 8px 0 0 #f0e583;
}
.Home_Bio-text {
  font-size: 1.25em;
  font-weight: lighter;
  line-height: 180%;
  text-align: justify;
}