.Header {
  padding: 10px 0;
  color: black;
  background-image: linear-gradient(to top, #d2c86c, #f0e583);
  border-bottom: 2px dashed #351e18;
}
.Header-brand {
  font-style: italic;
  text-decoration: none;
  color: currentColor;
}
.Header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header-actions {
  display: flex;
  align-items: center;
}
.Header-user {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.Header-user-name {
  margin-right: 10px;
}
.Header-user-avatar {
  width: 1.5em;
  border-radius: 50%;
}
.Header-btn {
  display: flex;
  align-items: center;
  color: currentColor;
  text-decoration: none;
  border: none;
  background-color: transparent;
}
.Header-btn-icon {
  margin-left: 10px;
  font-size: 1.25em;
}
