.Loading-icon {
  margin: 75px auto 15px auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 5px #30323c;
  border-left-color: transparent;
  animation: .75s spin linear infinite; 
}
.Loading-text {
  text-align: center;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}