.Dashboard_BookList_Dropdown {
  position: relative;
}
.Dashboard_BookList_Dropdown-btn {
  border: none;
  background: none;
}
.Dashboard_BookList_Dropdown-content {
  position: absolute;
  padding: 10px 15px;
  display: block;
  z-index: 1;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .5);
  top: 50%;
  left: -12px;
  transform: translate(-100%, -50%);
  background-color: white;
}
.Dashboard_BookList_Dropdown-content::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: solid 8px transparent;
  border-left-color: white;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(12px, -50%);
}
@media (min-width: 500px) {
  .Dashboard_BookList_Dropdown-content {
    left: 50%;
    transform: translate(-50%, 12px);
    background-color: white;
  }
  .Dashboard_BookList_Dropdown-content::before {
    border-left-color: transparent;
    border-bottom-color: white;
    top: -12px;
    left: 50%;
    transform: translate(-50%);
  }
}