.Dashboard_Checkbox {
  position: relative;
  display: inline-block;
  width: 1.75em;
  height: 1em;
  border: solid 2px #ccc;
  border-radius: .5em;
  cursor: pointer;
  background-color: #ccc;
}
.Dashboard_Checkbox.actived {
  border-color: #27ae60;
  background-color: #27ae60;
}
.Dashboard_Checkbox::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 50%;
  border-radius: 50%;
  box-shadow: .5px .5px 0 0 #aaa;
  background-image: linear-gradient(to top, #fff, #f5f5f5);
}
.Dashboard_Checkbox.actived::after {
  right: 0;
}