.Dashboard_Content {
  /* ... */
}
.Dashboard_Content-tabs {
  margin-bottom: 20px;
  border-bottom: solid 1px #ddd;
  font-size: 16px;
  text-align: center;
}
.Dashboard_Content-tab {
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 1em;
  color: gray;
}
.Dashboard_Content-tab.active {
  position: relative;
  border-radius: 3px 3px 0 0;
  border: solid 1px #ddd;
  border-top: solid 3px #ec4d1b;
  border-bottom: none;
  color: black;
}
.Dashboard_Content-tab.active::after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  background-color: white;
}
.Dashboard_Content-tab-title {
  display: none;
}
@media (min-width: 550px) {
  .Dashboard_Content-tab {
    padding: 10px 25px;
  }
  .Dashboard_Content-tabs {
    text-align: initial;
    font-size: 14px;
  }
  .Dashboard_Content-tab-title {
    display: inline-block;
  }
}
@media (min-width: 950px) {
  .Dashboard_Content-tab {
    padding: 10px 15px;
  }
  .Dashboard_Content-tabs {
    font-size: 16px;
  }
}