.Dashboard_Content {
  /* ... */
}
.Dashboard_Content-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: solid 1px #ddd;
}
.Dashboard_Content-btn,
.Dashboard_Content-btn-new {
  display: inline-block;
  padding: 6px 20px;
  margin: 0 5px;
  border-radius: 3px;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.Dashboard_Content-btn {
  border: solid 1px #d85127;
  background-image: linear-gradient(to top, #ec4d1b, #ff5722);
}
.Dashboard_Content-btn-new {
  border: solid 1px #d07f08;
  background-image: linear-gradient(to top, #ff9800, #ffc107);
}
.Dashboard_Content-btn.active,
.Dashboard_Content-btn-new.active {
  color: #eee;
  font-style: italic;
}
.Dashboard_Content-btn.active {
  background-image: linear-gradient(to bottom, #ec4d1b, #ff5722);
}
.Dashboard_Content-btn-new.active {
  background-image: linear-gradient(to bottom, #ff9800, #ffc107);
}