.Dashboard {
  padding: 0px 0;
}
.Dashboard-userNotFound i {
  margin-bottom: 20px;
  font-size: 3em;
  color: #aaa;
}
.Dashboard-row {
  padding: 20px 0;
  border-radius: 3px;
}
.Dashboard-profile {
  margin-right: 30px;
}
@media (min-width: 760px) {
  .Dashboard {
    padding: 50px 0;
    background-color: #f7f7f7;
  }
  .Dashboard-row {
    display: flex;
    padding: 30px;
    box-shadow: 1px 1px 1px 0 #ddd;
    background-color: white;
  }
  .Dashboard-profile {
    width: 250px;
  }
  .Dashboard-content {
    flex: 1;
  }
}

/**
 * Quando acessar usuário inexistente.
 */
.Dashboard-userNotFound {
  margin-top: 75px;
  text-align: center;
}