.Dashboard_BookList_BookListItem {
  position: relative;
  display: block;
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 1px 1px 1px 0 #aaa;
  user-select: none;
  background-color: #eee;
  color: black;
}
.Dashboard_BookList_BookListItem-body {
  margin-bottom: 10px;
}
.Dashboard_BookList_BookListItem-link {
  display: block;
  cursor: pointer;
}
.Dashboard_BookList_BookListItem-link:hover {
  opacity: .95;
}
.Dashboard_BookList_BookListItem-link:active {
  opacity: .9;
}
.Dashboard_BookList_BookListItem-cover {
  width: 100%;
  border-radius: 3px;
  animation: 1s loadingEffect infinite;
}
.Dashboard_BookList_BookListItem-footer {
  display: flex;
  align-items: center;
}
.Dashboard_BookList_BookListItem-title {
  flex: 1;
  display: block;
  font-style: normal;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.Dashboard_BookList_BookListItem-checkbox {
  display: block;
  white-space: nowrap;
}
.Dashboard_BookList_BookListItem-checkbox:not(:last-child) {
  margin-bottom: 4px;
}
