.Dashboard_BookList_Dropdown {
  position: relative;
}
.Dashboard_BookList_Dropdown-btn {
  border: none;
  background: none;
}
.Dashboard_BookList_Dropdown-content {
  position: absolute;
  padding: 10px 15px;
  display: block;
  z-index: 1;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .5);
  left: 50%;
  transform: translate(-50%, 12px);
  background-color: white;
}
.Dashboard_BookList_Dropdown-content::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: solid 8px transparent;
  border-bottom-color: white;
  position: absolute;
  left: 50%;
  top: -14px;
  transform: translate(-50%);
}