.Login {
  padding: 50px 0;
}
.Login-form {
  width: 300px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 5px 5px 0 0 #f0e583;
  background-image: linear-gradient(to bottom, #47484e, #30323c);
  color: white;
}
.Login dt {
  margin-bottom: 5px;
}
.Login dd {
  margin-bottom: 20px;
}
@media (min-width: 550px) {
  .Form {
    width: 400px;
    box-shadow: 10px 10px 0 0 #f0e583;
  }
}