<html lang="pt">
  <head>
    <title>Machado de Assis</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>
  <body>
    <div id="root"></div>

    <% htmlWebpackPlugin.files.js.forEach((source) => { %>
      <script src="<%= source %>"></script>
    <% }); %>
  </body>
</html>