.Book {
  /* ... */
}
.Book-actions {
  padding: 25px 0 12.5px 0;
}
.Book-select {
  width: 100%;
  padding: 8px 10px;
  border-radius: 3px;
  text-transform: uppercase;
  background-image: linear-gradient(to top, #ddd, #eee);
}
.Book-select-option {
  text-transform: uppercase;
  color: black;
}
.Book-fieldset {
  display: block;
  margin-bottom: 10px;
  border: none;
}
.Book-legend {
  margin-bottom: 5px;
  color: gray;
}

/**
 * Ao acessar no desktop
 */
@media (min-width: 550px) {
  .Book-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .Book-fieldset {
    display: inline-block;
  }
  .Book-fieldset {
    margin-bottom: 0;
  }
  .Book-select--special {
    border: solid 1px #d85127;
    background-image: linear-gradient(to top, #ec4d1b, #ff5722);
    color: white;
  }
  .Book-fieldset:not(:last-child) {
    margin-right: 10px;
  }
}