.Book_Text {
  padding: 30px;
  margin-bottom: 75px;
  border: solid 1px #ddd;
  border-radius: 5px;
  box-shadow: 1px 1px 0 0 #ccc;
  text-align: justify;
  line-height: 180%;
}
.Book_Text-title {
  display: block;
  font-size: 1.15em;
  text-align: center;
}
.Book_Text-p + .Book_Text-title,
.Book_Text-title + .Book_Text-p {
  margin-top: 30px;
}
.Book_Text-pCenter + .Book_Text-pCenter {
  margin-top: -15px;
}
.Book_Text-content {
  margin-bottom: 50px;
}
.Book_Text-btn {
  padding: 15px;
  font-size: 1.25em;
  cursor: pointer;
  border: solid 1px #d85127;
  border-radius: 50%;
  box-shadow: 1px 1px 0 0 #ccc;
  background-color: #ff5722;
  color: white;
}
.Book_Text-btn:hover {
  opacity: .95;
}
.Book_Text-btn:active {
  opacity: .9;
}
.Book_Text-p {
  margin-bottom: 15px;
}
.Book_Text-pCenter {
  text-align: center;
}

@media (min-width: 550px) {
  .Book_Text {
    padding: 75px 100px;
  }
  .Book_Text-title {
    font-size: 1.25em;
  }
}

/*****************
 * CONFIGURAÇÕES *
 *****************/

/**
 * Tamanho da fonte.
 */
.Book_Text-fontSize-small {
  font-size: 1em;
}
.Book_Text-fontSize-normal {
  font-size: 1.25em;
}
.Book_Text-fontSize-big {
  font-size: 1.5em;
}

/**
 * Família da fonte.
 */
.Book_Text-fontFamily-serif {
  font-family: Merriweather, Georgia, Times, 'Times New Roman', serif;
}
.Book_Text-fontFamily-sans-serif {
  font-family: Roboto, Helvetica, Verdana, Arial, sans-serif;
}
.Book_Text-fontFamily-monospace {
  font-family: Consolas, 'Lucida Console', monospace;
}