.Book_Text {
  padding: 30px;
  margin-bottom: 75px;
  border: solid 1px #ddd;
  border-radius: 5px;
  box-shadow: 1px 1px 0 0 #ccc;
  text-align: justify;
  line-height: 180%;
}

.Book_Text-title {
  text-align: center;
}
.Book_Text-title + .Book_Text-title {
  margin-top: 0;
  margin-bottom: 30px;
}
.Book_Text-paragraph {
  margin-bottom: 15px;
}
.Book_Text-paragraph--center {
  text-align: center;
}

/**
 * Footer
 */
.Book_Text-footer {
  margin-top: 50px;
  text-align: center;
}
.Book_Text-btn {
  --separation: 10px;
  padding: 10px;
  border: solid 1px #d85127;
  border-radius: 50%;
  font-size: 1.15em;
  box-shadow: 1px 1px 0 0 #ccc;
  cursor: pointer;
  background-color: #ff5722;
  color: white;
}
.Book_Text-btn:not(:last-child) {
  margin-right: calc(var(--separation) / 2);
}
.Book_Text-btn:not(:first-child) {
  margin-left: calc(var(--separation) / 2);
}

/**
 * Ao acessar pelo desktop
 */
@media (min-width: 550px) {
  .Book_Text {
    padding: 75px 100px;
  }
}

/*****************
 * CONFIGURAÇÕES *
 *****************/

/**
 * Tamanho da fonte.
 */
.Book_Text--font-size--small {
  font-size: 1em;
}
.Book_Text--font-size--normal {
  font-size: 1.25em;
}
.Book_Text--font-size--big {
  font-size: 1.5em;
}

/**
 * Família da fonte.
 */
.Book_Text--font-family--serif {
  font-family: Merriweather, Georgia, Times, 'Times New Roman', serif;
}
.Book_Text--font-family--sans-serif {
  font-family: Roboto, Helvetica, Verdana, Arial, sans-serif;
}
.Book_Text--font-family--monospace {
  font-family: Consolas, 'Lucida Console', monospace;
}